@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap');

@import "/Components/Card/card.css";
@import "/Components/Avatar/Avatar.css";
@import "/Components/Badge/badge.css";
@import "/Components/Button/button.css";
@import "/Components/Alert/alert.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 80%;
    min-height: 100vh;
    height: max-content;
    margin: auto;   
}

.container-secondary{
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    padding: 0 1rem;
}

.container-tertiary{
    min-width: 0;
    margin: 0px auto;
    max-width: 800px;
    flex:1 1 0%;
}

.container-child{
    padding: 1rem;
}

.comp-example-md{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    /* background-color: #dddbdb; */
    border-radius: 10px;
    border: 1px solid #bebbbb ;
}

.flex-col{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}