/* typography */

h2, h3, h4{
    font-weight: bold;
    margin:0;
    padding: 2px;
}

.dim-1{
    font-size: 0.9rem;
    font-weight: normal;
    opacity: 0.9;
}

.dim-2{
    font-size: 0.9rem;
    font-weight: normal;
    opacity: 1.6;
}

.bd{
    font-weight: bolder;
}

/* .bd-100{
    font-weight: 100;
}

.bd-200{
    font-weight: 200;
}

.bd-300{
    font-weight: 300;
}

.bd-400{
    font-weight: 400;
}

.bd-500{
    font-weight: 500;
} */

.bd-600{
    font-weight: 600;
}

.bd-900{
    font-weight: 900;
}

/* padding */
.pd-xs{
    padding: 0.5rem;
}

.pd-s{
    padding: 1rem;
}

.pd-l{
    padding: 1.2rem;
}


.pd-t-xs{
    padding-top: 0.5rem;
}

.pd-tb-xs{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pd-rl-xs{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.pd-rl-s{
    padding-right: 0.6rem;
    padding-left: 0.6rem;
}
/* margin */
.mg-t-xs{
    margin-top: 10px;
}

/* background color */

.bg-blue{
    background-color: #4285F4;
}

.bg-white{
    background-color: #fff;
}

.bg-red{
    background-color: #DB4437;
}

.bg-green{
    background-color: #0F9D58;
}

.color-white{
    color: #fff;
}

.color-blue{
    color: #4285F4;
}

.center{
    justify-content: center;
    align-items: center;
}

/* buttons */

.btn-no-border{
    border: none;
    cursor: pointer;
}

/* font size */

/* .font-size{

} */

/* width */
.wd-24{
    width: 24px;
}

.wd-26{
    width: 26px;
}

.wd-50{
    width: 50px;
}

.wd-64{
    width: 64px;
}

.wd-100{
    width: 100px;
}
.wd-250{
    width: 250px;
}

.wd-300{
    width: 300px;
}

.wd-320{
    width: 320px;
}

.wd-350{
    width: 350px;
}

.ht-24{
    height: 24px;
}

.ht-26{
    height: 26px;
}

.ht-50{
    height: 50px;
}

.ht-64{
    height: 64px;
}
.box-sd-lt{
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
}

.border-rd-5{
    border-radius: 10px;
}

.border-rd{
    border-radius: 50%;
}