<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link rel="stylesheet" href="/CSS/components.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <nav class="nav-container">
            <h2>---NAV_BAR---</h2>
        </nav>

        <div class="container-secondary">
            <div class="side-bar">
                <h2>---SIDE_BAR---</h2>
            </div>

            <div class="container-tertiary">
                <h1>Buttons</h1>

                <div class="container-child">
                    <!-- Buttons -->
                    <h2>Primary Button</h2>
                    <div class="comp-example-md">

                        <!-- component -->
                        <button class="btn primary-blue wd-100 ht-50">Primary</button>

                        <!-- component -->
                        <button class="btn primary-red wd-100 ht-50">Primary</button>

                        <!-- component -->
                        <button class="btn-border border-yellow wd-100 ht-50">Primary</button>

                        <!-- component -->
                        <button class="btn-link btn-od link-green wd-100 ht-50">Primary</button>
                        

                    </div>
                </div>

                <div class="container-child">
                    <!-- Buttons -->
                    <h2>Link Button</h2>
                    <div class="comp-example-md">

                        <!-- component -->
                        <a class="btn-link link-blue wd-100 ht-50">Link</a>

                        <!-- component -->
                        <a class="btn wd-100 primary-blue ht-50">Link</a>

                        <!-- component -->
                        <a class="btn-border border-blue wd-100 ht-50">Link</a>

                    </div>
                </div>

                <div class="container-child">
                    <!-- Buttons -->
                    <h2>Icon Button</h2>
                    <div class="comp-example-md">

                        <!-- component -->
                        <a class="btn-link link-blue wd-50 ht-50 border-rd" href="#"><i
                                class="fas fa-camera-retro btn-icon"></i></a>

                        <!-- component -->
                        <a class="btn-link link-green wd-50 ht-50 border-rd" href="#"><i
                                class="fas fa-shopping-cart btn-icon"></i></a>

                    </div>
                </div>

                <div class="container-child">
                    <!-- Buttons -->
                    <h2>Floating Action Button</h2>
                    <div class="comp-example-md">

                        <!-- component -->
                        <a class="btn-float wd-50 ht-50 border-rd bg-blue" href="#"><i
                                class="fas fa-plus btn-icon color-white"></i></a>



                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>