.toast{
    border: 0.1rem solid var(--black-color);
}

.toast-header{
    border-bottom: 0.1rem solid var(--black-color);
}
.toast-header-secondary{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
}

.toast-body{
    padding: 0.5rem;
}

.snackbar-ft{
    font-size: 1rem;
    font-weight: bold;
}

.snackbar-action{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}