.H1{
    font-size: 3rem;
    line-height: 4rem;
}

.H2{
    font-size: 2rem;
    line-height: 2.5rem;
}

.H3{
    font-size: 1.5rem;
    line-height: 2rem;
}

.H4{
    font-size: 1rem;
    line-height: 1.5rem;
}
