<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link rel="stylesheet" href="/CSS/components.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <nav class="nav-container">
            <h2>---NAV_BAR---</h2>
        </nav>

        <div class="container-secondary">
            <div class="side-bar">
                <h2>---SIDE_BAR---</h2> 
            </div>
            
            <div class="container-tertiary">
                <h1>Badges</h1>

                <div class="container-child">
                    <!-- Badges -->
                    <h2>Badges on icons</h2>
                    <div class="comp-example-md">

                        <!-- component -->
                        <div class="badge-text-overlay">
                            <div class="badge tp-rt-multiple bg-green color-white">99+</div>
                            <i class="far fa-envelope avatar-icon badge-font-lg"></i>
                        </div>

                    </div>
                </div>

                <div class="container-child">
                    <!-- Badges -->
                    <h2>Badges on avatars</h2>
                    <div class="comp-example-md">

                        <!-- component -->
                        <div class="avatar-rd wd-50 ht-50 badge-text-overlay">
                            <div class="badge tp-rt-single bg-green color-white">4</div>
                            <img class="avatar-img-rd" src="/Assets/Images/user.jpg" alt="">
                        </div>

                    </div>
                </div>

            </div>

    </div>
</body>
</html>