.modal{
    border: 0.1rem solid var(--black-color);
    width: 100%;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--black-color);
    padding: 1rem;

}

.modal-title{
    font-size: 1.5rem;
}

.close{
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-color: var(--white-color);
    cursor: pointer;
}

.modal-body{
    padding: 1rem 1rem 2rem 1rem;
    border-bottom: 0.1rem solid var(--black-color);

}

.modal-footer{
    justify-content: right;
    text-align: right;
    padding: 1rem;
    
}

.modal-btn{
    padding: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}