.P-48{
    font-size: 3rem;
    line-height: 4rem;
}

.P-32{
    font-size: 2rem;
    line-height: 2.5rem ;
}

.P-24{
    font-size: 1.5rem;
    line-height: 2rem;
}

.P-16{
    font-size: 1rem;
    line-height: 1.5rem;
}

.P-8{
    font-size: 0.5rem;
    line-height: 1rem;
}
