.alert{ 
    background-color: var(--lynx-white);
    width: 100%;
}

.alert-p{
    padding: 0.9rem 0 0.1rem 0.6rem;
    align-items: center;
}

.alert-i{
    padding: 0 0.5rem;
}

.error{
    background-color: var(--lynx-primary);
    color: var(--primary-color);
    font-weight: bold;
}

.warning{
    background-color: var(--lynx-yellow);
    color: var(--yellow-color);
    font-weight: bold;
}

.info{
    background-color: var(--lynx-action);
    color: 	var(--action-color);
    font-weight: bold;
}

.success{
    background-color: var(--lynx-green);
    color: 	var(--green-color);
    font-weight: bold;
}

.alert-outlined-error{
    border: 1px solid var(--primary-color);
    color:var(--primary-color);
    background-color: var(--white-color);
    width: 100%;
    font-weight: bold;
}


.alert-outlined-warning{
    border: 1px solid var(--yellow-color);
    color: var(--yellow-color);
    background-color: var(--white-color);
    width: 100%;
    font-weight: bold;
}


.alert-outlined-info{
    border: 1px solid var(--action-color);
    color: 	var(--action-color);
    background-color: var(--white-color);
    width: 100%;
    font-weight: bold;
}

.alert-outlined-success{
    border: 1px solid var(--green-color);
    color: 	var(--green-color);
    background-color: var(--white-color);
    width: 100%;
    font-weight: bold;
}

.alert-filled-error{
    background-color:var(--primary-color) ;
    color: var(--white-color);
    width: 100%;
    font-weight: bold;
}

.alert-filled-success{
    background-color:var(--green-color);
    color: var(--white-color);
    width: 100%;
    font-weight: bold;
}

.alert-filled-info{
    background-color:var(--action-color);
    color: var(--white-color);
    width: 100%;
    font-weight: bold;
}

.alert-filled-warning{
    background-color:var(--yellow-color);
    color: var(--white-color);
    width: 100%;
    font-weight: bold;
}